import core

# extend the class from core.channel.Channel to get all the required functionality
class ChannelExample(core.channel.Channel):
    """
    A channel is the main way the user can communicate back and forth with the AI.
    This can be something like the CLI, a discord bot, telegram, whatever you want.
    It's designed to be modular and easy to make new channels for the system to use.
    """

    async def run(self):
        """
        Main loop goes here!

        Ask for input somehow, and then use the channel's built in send() and send_stream() functions (defined in core.channel.Channel) to communicate with the AI.

        send() will return the AI's response as a string
        send_stream() will return an object that you can iterate over using `async for token in send_stream(...)`

        Make sure to use asyncio conventions, such as await for send(), and `async for` for send_stream()
        """
        core.log("example channel", "Channel is working!")

        while True:
            user_input = input("> ")
            # specify the role the message should be sent as, and the message content
            response = await self.send("user", user_input)
            print(response)

    async def announce(self, message: str):
        """
        This function will be called by other parts of the framework when the channel should push a message out to the user.
        You can use it within tools, for example to send a notification or reminder to the user!
        """
        core.log("example channel", message)
